<div class="container">
    <h1><a href="/">Social Typist</a></h1>
    <p class="main-links">
        <a class="read" href="#">Read stories</a>
        | <a class="your-stories selected" href="/stories/yours">Your stories</a>
        | <a class="messages" href="/messages">Messages</a>
        | <a class="create-story" href="/stories/create">Write a story</a>
    </p>
    <div class="content-area row">
        <div class="content-pane span8">
            <div class="content">
                {{#if stories}}
                <ul class="iconic-summary">
                    {{#each stories}}
                        <li>
                            <div class="icon">
                                <img src="http://graph.facebook.com/{{this.ownerdomainid}}/picture?type=square" />
                            </div>
                            <div class="summary">
                                <h2><a href="/stories/{{this._id}}">{{this.title}}</a> <span class="small light">{{this.created}}</span></h2> 
                            <p>
                                {{this.shortSummary}}
                            </p>
                            <p>
                                by 
                            </p>
                        </li>
                    {{/each}}
                    
                </ul>
                {{/if}}         
            </div>
        </div>
        <div class="content-pane span4">
            <p>There will be some content here....</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
