<script src="/public/js/views/storyview.js"></script>
<script>
    window.story = "{{story._id}}";
    $(document).ready(function() {
        var view = new SocialTypist.StoryView();
    });
</script>

<div class="container">
    <h1><a href="/">Social Typist</a></h1>
    <p class="main-links">
        <a class="read" href="#">Read stories</a>
        {{#if loginStatus.loggedIn}}
        | <a class="your-stories" href="/stories/yours">Your stories</a>
        <span class="live-messages">| <i class="icon-envelope"></i><a class="messages" href="/messages">32</a></span>
        {{/if}}
        | <a class="create-story" href="/stories/create">Write a story</a>
    </p>
    <div class="content-area row">
        <div class="content-pane span8">
            <div class="story">
                <div class="content">
                    {{{story.cache.html}}}
                </div>
                <hr />
                <div class="comments">
                    <div class="fb-comments" data-href="http://www.socialtypist.com/stories/{{story._id}}" data-num-posts="10" data-width="470"></div>
                </div>
            </div>
        </div>
        <div class="content-pane span4">
            <div class="rpadded">
                <div class="fb-like" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true" data-font="verdana"></div>
                {{#if isAuthor}}
                    <div class="section">
                        <p>
                            <a href="/stories/{{story._id}}/edit" class="btn btn-large">Edit Story</a>
                        </p>
                    </div>
                {{/if}}
               
                <div class="section">
                    <h3>Authors</h3>
                    <ul class="iconic-summary">
                        {{#each story.cache.owners}}
                        <li>
                            <div class="icon">
                                <img src="http://graph.facebook.com/{{this.domainid}}/picture?type=square" />
                            </div>
                            <div class="summary">
                                <h3>{{this.name}}</h3>
                                <p>Owner</p>
                            </div>
                        </li>
                        {{/each}}
                        {{#each story.cache.authors}}
                        <li>
                            <div class="icon">
                                <img src="http://graph.facebook.com/{{this.domainid}}/picture?type=square" />
                            </div>
                            <div class="summary">
                                <h3>{{this.name}}</h3>
                                <p></p>
                            </div>
                        </li>
                        {{/each}}                        
                    </ul>
                </div>
                <div class="section contribute-section">
                    <h3>Contribute to this story?</h3>
                    <ul class="iconic-list">
                        <li>
                            <i class="icon-pencil"></i><a class="author-request-btn" href="#">Become an author</a>
                            <div class="author-request-form" style="padding-top: 4px; display:none">
                                <form class="well">
                                    <h4>Message to the story owner:</h4>
                                    <p>
                                        <textarea rows="4" style="width:90%"></textarea>
                                        <br />
                                        <a class="btn btn-small send" href="#">Send Request</a> <a href="#" class="cancel">cancel</a>
                                    </p>
                                </form>
                            </div>
                        </li>
                        <li>
                            <i class="icon-random"></i><a class="fork-story" href="#">Fork this story</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
        <div class="clear"></div>
    </div>
</div>
